<h2 style="text-align: center; margin-top: 20px; margin-bottom: 20px;">Compare Plans</h2>
<table class="table" style="width: 800px;margin-left: 200px;">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Free</th>
        <th scope="col">Pro</th>
        <th scope="col">Enterprise</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Public</th>
        <td>
            <img src="../../assets/check-lg.svg" width="30px">
        </td>
        <td><img src="../../assets/check-lg.svg" width="30px"></td>
        <td><img src="../../assets/check-lg.svg" width="30px"></td>
      </tr>
      <tr>
        <th scope="row">Private</th>
        <td></td>
        <td><img src="../../assets/check-lg.svg" width="30px"></td>
        <td><img src="../../assets/check-lg.svg" width="30px"></td>
      </tr>
      <tr>
        <th scope="row">Permissions</th>
        <td><img src="../../assets/check-lg.svg" width="30px"></td>
        <td><img src="../../assets/check-lg.svg" width="30px"></td>
        <td><img src="../../assets/check-lg.svg" width="30px"></td>
      </tr>
      <tr>
        <th scope="row">Sharing</th>
        <td></td>
        <td><img src="../../assets/check-lg.svg" width="30px"></td>
        <td><img src="../../assets/check-lg.svg" width="30px"></td>
      </tr>
      <tr>
        <th scope="row">Unlimited members</th>
        <td></td>
        <td><img src="../../assets/check-lg.svg" width="30px"></td>
        <td><img src="../../assets/check-lg.svg" width="30px"></td>
      </tr>
      <tr>
        <th scope="row">Extra sharing</th>
        <td></td>
        <td></td>
        <td><img src="../../assets/check-lg.svg" width="30px"></td>
      </tr>
    </tbody>
  </table>
